$mobile-faq-card-width: 20rem;

.faq_card {
  box-shadow: 0px 60px 200px -65px $dark_grayish_blue;
  position: relative;
  max-width: $mobile-faq-card-width;
  width: $mobile-faq-card-width;
  border-radius: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &_image {
    &_foreground {
      width: 75%;
      height: auto;
      position: absolute;
      margin: auto;
      top: -22%;
      left: 0;
      right: 0;
    }

    &_box {
      width: 30%;
      height: auto;
      position: absolute;
      top: -8%;
      left: 12%;
    }

    &_shadow {
      width: 75%;
      height: auto;
      margin: auto;
    }
  }

  &_title {
    text-align: center;
    color: $desaturated_blue;
  }

  &_accordion {
    &_items {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
    }

    &_item {
      display: flex;
      flex-direction: column;
      margin: 0 1.25rem;
      border-bottom: 1px solid $light_grayish_blue;

      &_button {
        all: unset;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
      }

      &_question {
        font-weight: 500;
        font-size: 0.8rem;
        color: $dark_grayish_blue;
        transition: color 0.2s;

        &:hover {
          color: $soft_red;
        }

        &--expanded {
          font-weight: bold;
          color: $very_dark_grayish_blue;
        }
      }

      &_answer {
        width: 90%;
        font-weight: 400;
        font-size: 0.75rem;
        padding-bottom: 0.75rem;
        color: $dark_grayish_blue;
      }
    }
  }
}
