@keyframes fade-in-backward {
  // to use this animation you have to set the perspective of the parent element
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
