---
const FAQ_ITEMS = [
  {
    question: "How many team members can I invite?",
    answer: null,
  },
  {
    question: "What is the maximum file upload size?",
    answer:
      "No more than 2GB. All files in your account must fit your allotted storage space.",
  },
  {
    question: "How do I reset my password?",
    answer: null,
  },
  {
    question: "Can I cancel my subscription?",
    answer: null,
  },
  {
    question: "Do you provide additional support?",
    answer: null,
  },
];
---

<div class="faq_card">
  <img
    class="faq_card_image_foreground"
    src="/images/faq_foreground_mobile.svg"
    alt="woman-online"
  />
  <img class="faq_card_image_box" src="/images/faq_box.svg" alt="orange-box" />
  <img
    class="faq_card_image_shadow"
    src="/images/faq_shadow_mobile.svg"
    alt="gray-shadow"
  />
  <h1 class="faq_card_title">FAQ</h1>
  <div class="faq_card_accordion_items">
    {
      FAQ_ITEMS.map((faqItem, index) => {
        const DEFAULT_ACTIVE_INDEX = 1;
        const isDefaultActiveIndex = index === DEFAULT_ACTIVE_INDEX;
        const defaultActiveItemQuestionClass = isDefaultActiveIndex
          ? "faq_card_accordion_item_question--active"
          : "";
        const defaultActiveItemArrowClass = isDefaultActiveIndex
          ? "faq_card_accordion_item_arrow--active"
          : "";
        const defaultActiveItemAnswerClass = isDefaultActiveIndex
          ? "faq_card_accordion_item_answer--active"
          : "";

        return (
          <article class="faq_card_accordion_item">
            <button class="faq_card_accordion_item_button">
              <h2
                class={`faq_card_accordion_item_question ${defaultActiveItemQuestionClass}`}
              >
                {faqItem.question}
              </h2>
              <img
                class={`faq_card_accordion_item_arrow ${defaultActiveItemArrowClass}`}
                src="/images/arrow-down.svg"
                alt="arrow-down"
              />
            </button>
            <p
              class={`faq_card_accordion_item_answer ${defaultActiveItemAnswerClass}`}
            >
              {faqItem.answer || "No text"}
            </p>
          </article>
        );
      })
    }
  </div>
</div>

<script>
  const $accordionItems = document.querySelectorAll(".faq_card_accordion_item");

  $accordionItems.forEach((accordionItem) => {
    const [
      $accordionButton,
      $accordionQuestion,
      $accordionArrow,
      $accordionAnswer,
    ] = accordionItem.querySelectorAll(
      ".faq_card_accordion_item_button, .faq_card_accordion_item_question, .faq_card_accordion_item_arrow, .faq_card_accordion_item_answer"
    );

    $accordionButton?.addEventListener("click", () => {
      const [
        $activeAccordionQuestion,
        $activeAccordionArrow,
        $activeAccordionAnswer,
      ] = document.querySelectorAll(
        ".faq_card_accordion_item_question--active, .faq_card_accordion_item_arrow--active, .faq_card_accordion_item_answer--active"
      );

      if (
        $activeAccordionQuestion &&
        $activeAccordionQuestion !== $accordionQuestion
      ) {
        $activeAccordionQuestion?.classList.remove(
          "faq_card_accordion_item_question--active"
        );
      }

      if ($activeAccordionArrow && $activeAccordionArrow !== $accordionArrow) {
        $activeAccordionArrow?.classList.remove(
          "faq_card_accordion_item_arrow--active"
        );
      }

      if (
        $activeAccordionAnswer &&
        $activeAccordionAnswer !== $accordionAnswer
      ) {
        $activeAccordionAnswer?.classList.remove(
          "faq_card_accordion_item_answer--active"
        );
      }

      $accordionQuestion?.classList.toggle(
        "faq_card_accordion_item_question--active"
      );
      $accordionArrow?.classList.toggle(
        "faq_card_accordion_item_arrow--active"
      );
      $accordionAnswer?.classList.toggle(
        "faq_card_accordion_item_answer--active"
      );
    });
  });
</script>
